.Home {
  /* display: grid;
  grid-template-columns: repeat(12, 100px);
  grid-gap: 20px; */
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.Tickers {
  /* grid-column: 1 / 4; */
  width: 300px;
  border: 1px black solid;
  border-bottom: none;
}

.Tickers .AssetLabel {
  grid-column: 1 / 2;
}

.Tickers .TickerColumn {
  grid-column: 2 / 5;
}

.Ticker {
  /* display: flex;
  flex-direction: row; */
}

.Ticker .TickerItem {
  height: 16px;
  font-size: 12px;
  text-align: center;
}

.Ticker .asset {
  width: 65px;
}
.Ticker .last {
  width: 65px;
  text-align: right;
}
.Ticker .currency {
  width: 35px;
  text-align: left;
}
.Ticker .delta {
  width: 35px;
}
.Ticker .volume {
  width: 65px;
  text-align: right;
}

.Trades {
  width: 200px;
  border: 1px solid black;
  /* grid-column: 4 / 9; */
}

.Trade .timestamp{
  text-align: left;
}

.Trade .price {
  text-align: center;
}

.Trade .amount {
  text-align: right;
}

.TableRow {
}
.TableHeaderItem {
  display: flex;
  flex-direction: row;
}
.SortArrows {
  
}
.UpArrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  position: relative;
  top: -1px;
}

.DownArrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: relative;
  bottom: -1px;
}


