.Home {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-size: 12px;
}

.Sidebar {
}

.Main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px 20px;
}

.Widget {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 10px;
  margin-bottom: 20px;
}

.Widget .Header {
  display: flex;
}

.Widget .Body {
  overflow-y: auto;
}

table {
  width: 100%;
}

.WidgetWrapper-BigTickerContainer {
}

.WidgetWrapper-TickersContainer {
  max-height: 500px;
}

.WidgetWrapper-OrderbookContainer {
  grid-column: span 4;
}

.WidgetWrapper-TradesContainer {
  grid-column: span 2;
}

.Ticker {

}

.Ticker .TickerItem {
  height: 16px;
  font-size: 12px;
  text-align: center;
}

.highlight {
  background: lightgray;
}

.no-highlight {
  background: white;
}

.Ticker .asset {
  
}
.Ticker .price {
  text-align: right;
}
.Ticker .currency {
  text-align: left;
}
.Ticker .delta {
}
.Ticker .volume {
  text-align: right;
}

.Trade .timestamp{
  text-align: left;
}

.Trade .price {
  text-align: center;
}

.Trade .amount {
  text-align: right;
}

.TableRow {
}

.TableHeaderItem {
  display: table-cell;
}

.SortArrows {
  float: right;
}

.UpArrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  position: relative;
  top: -1px;
}

.DownArrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: relative;
  bottom: -1px;
}

.Orderbook {
  display: flex;
}
.Asks,
.Bids {
  flex: 50%;
  padding: 5px;
}

.Asks .price,
.Bids .amount,
.Bids .count {
  text-align: left;
}

.Asks .count,
.Asks .amount,
.Bids .price {
  text-align: right;
}



