:root {
  --bgColor: black;
  --textColor: white;
  --borderColor: white;
  --accent: rgb(45, 45, 45);
}
.App {
  background-color: var(--bgColor);
  color: var(--textColor);
  min-height: 100vh;
  display: flex;
  flex-drection: column;
}
.Page {
  flex: 1;
}
.Home {
  height: 100%;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-gap: 10px;
  padding: 10px;
  font-size: 12px;
}

.Sidebar {
  display: flex;
  flex-direction: column;
}

.Main {

}

[class^='WidgetWrapper'] {
  padding: 10px;
  border: 1px var(--borderColor) solid;
  margin-bottom: 10px;
}

.WidgetWrapper-BigTickerContainer {
}

.WidgetWrapper-TickersContainer {
  max-height: 500px;
}

.WidgetWrapper-OrderbookContainer {
  float: left;
  width: 66%;
  min-width: 350px;
}

.WidgetWrapper-TradesContainer {
  float: right;
  width: 33%;
  min-width: 200px;
}

.Widget {
  display: flex;
  flex-direction: column;
}

.Widget .Header {
  display: flex;
}

.Widget .Header .symbol {
  border-left: 1px var(--borderColor) solid;
  margin-left: 10px;
  padding-left: 10px; 
}
.Widget .HeaderItem {
  /* border-bottom: 1px var(--borderColor) solid; */
}
.Widget .Body {
  overflow-y: auto;
  border-top: 1px var(--borderColor) solid;
}


table {
  width: 100%;
}

.highlight {
  background: var(--accent);
}

.no-highlight {
  background: var(--bgColor);
}

.Tickers {
  max-height: 325px;
}

.TickerUnit {
  border-bottom: 1px var(--borderColor) solid;
}

.Ticker .TickerItem {
  height: 16px;
  font-size: 12px;
  text-align: center;
}



.Ticker .asset {
  
}
.Ticker .price {
  text-align: right;
}
.Ticker .currency {
  text-align: left;
}
.Ticker .delta {
}
.Ticker .volume {
  text-align: right;
}

.Trade .timestamp{
  text-align: left;
}

.Trade .price {
  text-align: center;
}

.Trade .amount {
  text-align: right;
}

.TableRow {
}

.TableCell {
  display: table-cell;
}

.TableCell .Title {
  display: flex;
}

.TableCell .Title .Label {
  flex: 1 1;
}

.SortArrows {
  float: 0 1;
}

.UpArrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--textColor);
  position: relative;
  top: -1px;
}

.DownArrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--textColor);
  position: relative;
  bottom: -1px;
}

.SortArrows highlighted {
  box-shadow: 0px 0px 5px var(--textColor);
}

.Orderbook {
  display: flex;
}
.Asks,
.Bids {
  flex: 50%;
  padding: 5px;
}

.Asks .price,
.Bids .amount,
.Bids .count {
  text-align: left;
}

.Asks .count,
.Asks .amount,
.Bids .price {
  text-align: right;
}

