:root,
.App {
  /* --font-family-serif: Garamond, "Times New Roman", serif; */
  --font-family-sans-serif: 'Inconsolata', monospace;
  --gutterPx: 5px;
  
  --bgColor: black;
  --textColor: white;
  --borderColor: white;
  --accent: rgb(45, 45, 45);
  --upColor: 50, 256, 50;
  --downColor: 256, 50 , 50;
  --grey-border: #eee;
  --grey-text: #aaa;
  --black: #000;
  --white: #fff;

  --grey1: rgb(12.8, 12.8, 12.8);
  --grey2: rgb(25.6, 25.6, 25.6);
  --grey3: rgb(38.4, 38.4, 38.4);
  --grey4: rgb(51.2, 51.2, 51.2);
  --grey5: rgb(64, 64, 64);
  --grey6: rgb(76.8, 76.8, 76.8);
  --grey7: rgb(89.6, 89.6, 89.6);
  --grey8: rgb(102.4, 102.4, 102.4);
  --grey9: rgb(204.8, 204.8, 204.8);
 --grey10: rgb(217.6, 217.6, 217.6);


}

@custom-media --sm (max-width: 500px);
@custom-media --md (min-width: 769px);
@custom-media --lg (min-width: 1025px);
@custom-media --xl (min-width: 1800px);
